* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.header-1 {
  position: fixed;
  top: 0;
  padding-left: 13px;
  width: 100%;
  padding: 2rem 8rem;
  background-color: #162834;
  display: flex;
  align-items: center;
  z-index: 99;
}
.div-1 {
  color: white;
}
.div-2 {
  padding-left: 30rem;
  font-size: 1;
}
.a1 {
  text-decoration: none;
  color: white;
}
.a1:hover {
  color: olive;
}
.a1:active {
  color: green;
}
.a2 {
  padding-left: 2rem;
  text-decoration: none;
  color: white;
}
.a2:hover {
  color: olive;
}
.a2:active {
  color: green;
}
.a3 {
  padding-left: 2rem;
  text-decoration: none;
  color: white;
}
.a3:hover {
  color: olive;
}
.a3:active {
  color: green;
}
.slidebar {
  position: fixed;
  left: 0;
  width: 13rem;
  height: 100%;
  background: #162834;
}
.slidebar header {
  padding-top: 6rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  line-height: 3 rem;
  background-color: #063146;
  user-select: none;
}
.slidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 4rem;
  font-size: 1rem;
  color: white;
  padding-left: 2.5rem;
  box-sizing: border-box;
  border-top: 1px solid #063146;
  border-bottom: 1px solid black;
  text-decoration: none;
  transition: 2s;
}
.ul li:hover {
  margin-left: 30px;
}
