.name {
  margin-top: 3rem;
  margin-left: 35rem;
  font-style: italic;
  font-size: 3rem;
  color: #162834;
  text-decoration: underline;
}
.paragraph-1 {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: #163628;
}
.list {
  margin-left: 10rem;
  margin-top: 3rem;
  font-style: bold;
  font-size: 1.8rem;
  color: #163628;
}
