.contact-us {
  margin-top: 4rem;
}
.name {
  margin-left: 35rem;
  font-size: 3rem;
  color: #162834;
}
.paragraph-1 {
  margin-top: 2rem;
  margin-left: 15rem;
  font-style: bold;
  font-size: 2rem;
  color: #163628;
}
.element {
  margin-left: 25rem;
  font-size: 1.8rem;
  font-style: bold;
  color: #163628;
}
